<% count = @bookings.length %>
<div class="container big-box-my-trees">
  <h1 class="d-flex my-trees-title"><strong> My <%= "booking".pluralize(count)%></strong>
    <p class="first-p my-auto">(</p>
    <div class="count my-auto"><%= count %></div>
    <p class="my-auto">)</p>
  </h1>
  <div class="row box-trees">
    <% @bookings.each do |booking| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <% if booking.tree.image == "" || booking.tree.image.nil? %>
            <% booking.tree.image = "https://www.lincroyable.fr/images/produits/65388%20(1).jpg" %>
            <img src="<%= booking.tree.image %>" class="card-img-top" alt="tree Image">
          <% else %>
            <img src="<%= booking.tree.image %>" class="card-img-top" alt="tree Image">
          <% end %>
          <div class="card-body">
            <div class="d-flex flex-column justify-content-start">
              <p><%= booking.tree.address %></p>
              <p><%= booking.tree.description %></p>
              <div class="d-flex justify-content-between">
                <p><%= booking.tree.taille %> cm</p>
                <p><%= booking.tree.price %> <i class="fa-solid fa-euro-sign"></i> </p>
              </div>
            </div>
          </div>
          <div class="my-booking-card-footer">
            <div class="div-text-booking-card-footer">
            <p>Tree of : <%= booking.tree.user.email %></p>
            <p><%= booking.start_date %> ... <%= booking.end_date %>
            </div>
          </div>
          <%= link_to "Cancel reservation", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-cansel-reservation mx-auto" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
