<h1>New reservation</h1>
<%= form_with model: @booking do |t| %>
  <%= t.label :titre %>
  <%= t.text_field :titre %>
  <%= t.label :taille %>
  <%= t.text_field :taille %>
  <%= t.label :price %>
  <%= t.text_field :price %>
  <%= t.submit %>
<% end %>
