<% count = @trees.length %>

<div class="container">
  <h1>My <%= "tree".pluralize(count) %>(<%= count %>)</h1>
  <div class="row">
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% @trees.each do |tree| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <% if tree.image.nil? %>
            <% tree.image = "https://www.lincroyable.fr/images/produits/65388%20(1).jpg" %>
              <img src="<%= tree.image %>" class="card-img-top" alt="tree Image">
              <% else %>
              <img src="<%= tree.image %>" class="card-img-top" alt="tree Image">
              <% end %>          <div class="card-body">
            <h4 class="card-title"><strong><%= link_to tree.titre, tree_path(tree) %></strong></h4>
            <p><%= tree.taille %>CM</p>
            <div class="d-flex justify-content-start">
              <p><%= tree.price %> <i class="fa-solid fa-euro-sign"></i> </p>
              <p><%= tree.geoloc %></p>
              <p><%= tree.description %></p>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <% if current_user%>
  <%= link_to "Add new", new_tree_path, class: "btn btn-primary" %>
  <%else %>
  <%= link_to "Add new", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
