<% count = @trees.length %>

<div class="container">
  <h1>My trees(<%= count %>)</h1>
  <div class="row">
    <% @trees.each do |tree| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="<%= tree.image %>" class="card-img-top" alt="tree Image">
          <div class="card-body">
            <h4 class="card-title"><strong><%= link_to tree.titre, tree_path(tree) %></strong></h4>
            <p><%= tree.taille %></p>
            <div class="d-flex justify-content-start">
              <p><%= tree.price %> <i class="fa-solid fa-euro-sign"></i> </p>

            </div>
          </div>
          <div class="card-footer">
            <%= link_to "Delete", tree_path(tree), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add new", new_tree_path, class: "btn btn-primary" %>
</div>
