<div class="container">
  <div class="card">
    <div class="card-body">
      <img src="<%= @tree.image %>" class="card-img-top" alt="tree Image">
      <h2><%= @tree.titre %></h2>
      <p><%= @tree.taille %></p>
      <p><%= @tree.price %></p>
      <p><i class="fa-solid fa-euro-sign"></i> <%= @tree.price %></p>
    </div>
    <div class="card-footer">
      <%= link_to "Back to list", root_path, class: "btn btn-secondary btn-sm" %>
        <% if current_user == @tree.user%>
      <%= link_to "Edit", edit_tree_path(@tree), class: "btn btn-primary btn-sm" %>
        <% @bookings.each do |booking| %>
            <p>ça a été booké par: <%= booking.user.email %></p>
            <%= link_to "Voir info du booking", booking_path(booking), class: "btn btn-secondary btn-sm" %>
            <%end %>
          <% end %>
    </div>
  </div>
</div>
